# NPM/Yarn
node_modules/
package-lock.json
yarn.lock
yarn-error.log

# Testing
test.html

# Build Configs
tsconfig.json
rollup.config.js
.gitignore
.babelrc

# Raw source
src/

# Linting
.prettierrc

# Misc
.github/
docs/
settings.json
.vscode/
CNAME